<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon link -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <!-- jquery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/ojectDT.css' %}" type="text/css">
    <!-- end link -->

    <title>OBJECT DETECTION</title>
</head>
<body>
    <video id="video" autoplay style="display: none;"></video>
    <!-- Load TensorFlow.js. This is required to use coco-ssd model. -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
    <!-- Load the coco-ssd model. -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>

    <!-- Replace this with your image. Make sure CORS settings allow reading the image! -->
    <h1 id="header">REAL-TIME OBJECT DETECTION WEB SERVER</h1>
    
    <div class="container-canvas">
        <canvas id="canvas"></canvas>
    </div>    
    <div id="outer">
        <div class="inner" ><button class="button" id="start-button">Start</button></div>
        <div class="inner" ><button class="button" id="flip-button" >Flip</button></div>
        <div class="inner" ><button class="button" id="end-button">End</button></div>
    </div>    
    <script src="{% static 'js/ojectDT.js'%}"></script>
</body>
</html>